<h1>Editing Person</h1>

<%= render 'form', person: @person %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>
<br>
<%= link_to 'Add New Person', new_person_path, class: "btn btn-primary" %>
