<div class="center jumbotron">
	<h1 align="center">Lucky Draw</h1>
	
	
	<div align="center" id="luckyname">
	</div>
	<div align="center" id="loading">
	
	</div>
	<% if user_signed_in? && current_user.super_admin? %>
	<button type="button" class="btn btn-primary btn-lg center-block" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Selecting Winner">Draw now</button>
	<% else %>
	<a href="/winners"><button type="button" class="btn btn-success btn-lg center-block">Winners list</button></a>
	<% end %>
	

</div>



<script type="text/javascript">

	function censorID(x){
		var index = 0;
		var z = "";
		x.replace(/./g, function (char) {
    		if(index<3){
    			z += "*";
    		} else {
    			z += char;
    		};
    		index++;
		});
		return z;
	} 

	$('.btn-primary').on('click', function(){
		var $this = $(this);
		$this.button('loading');
		$('#luckyname').hide();
		$('#loading').html('<%= j image_tag "cube.gif" %><br><br>');
		setTimeout(function() {
			$.getJSON('/random',function(data){
				if( !($.isEmptyObject(data)) ){
					$('#luckyname').html('<p>'+data.name+'<p>'+'<p>'+censorID(data.petid)+'<p>');
				} else {
					$('#luckyname').html('<p> Only 40 prizes only <p>');
				};
				
				console.log(data);
				$('#loading').html(' ');
				$('#luckyname').show();
			});
			$this.button('reset');
		}, 3000);
	});


</script>
