<div class="center jumbotron">
	<h1 align="center">Lucky Draw</h1>

	<% if user_signed_in? %>
	<p align="center"><%= @lucky_person.name %></p>
	<p align="center"><%= @lucky_person_petid %></p> 
	<button type="button" class="btn btn-primary btn-lg center-block" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Selecting Winner">Draw now</button>
	<% end %>


	

</div>

<div class="row">
	
	<div class="col-md-12">
		<div class="well well-lg">
			<h2>Lucky Name List</h2>
			<br>
			...

		</div>
	</div>
</div>

<script type="text/javascript">

	$('.btn').on('click', function() {
		var $this = $(this);
		$this.button('loading');
		setTimeout(function() {
			$this.button('reset');
		}, 2000);
	});

</script>
