
<div class="row">
	<div class="col-md-12">
		<div class="well well-lg">
			<h2 align="center">Name List</h2>
			<br>

			<ul class="list-group">
			<div align="center">
			<%= will_paginate @people %>
				<% @people.each do |person| %>
				<li class="list-group-item">
					<%= person.id %>: 
					<%= person.name %>
				</li>
				<% end %>
				<%= will_paginate @people %>
				</div>
			</ul>	
			
		</div>


	</div>
	


</div>

<div class="row">
	<div class="col-md-12">
		<div class="well well-lg">
			
			...

		</div>
	</div>
</div>